.content{
    float: left;
    width: 50%;
    height: 100%;
}.image{
    float: left;
    height: 100%;
    width: 50%;
   
}body{
    width: 100%;
    height: 100vh;
    background-color: black;
}input{
    width: 50%;
    margin-left: 15%;
}h4{
    margin-top: 5%;
    margin-left: 15%;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}#img{
    margin: 15%;
}